@import '../../styles/mixins';

.portfolio {
    position: relative;
    margin-top: 13rem;

    h3,
    h2,
    p {
        text-align: center;
        max-width: 674px; /* Максимальная ширина */
        width: 80%; /* Адаптивная ширина */
        margin: 0 auto;
    }
    h2 {
        margin-top: 1.2rem;
        margin-bottom: 1.8rem;
    }

    &__ellipses {
        position: absolute;
        top: calc(5% + 50px);
        right: calc(10% + 20px);
        width: auto; /* Если нужно адаптивно */
        height: auto;
    }

    &__content {
        @include flex-center;
        gap: clamp(3rem, 5vw, 6.9rem);
        margin-top: 4.8rem;
    }

    .imageWrapper {
        position: relative;
        display: inline-block;
        img {
            width: 100%;
        }
        .imageText {
            position: absolute;
            color: rgb(255, 255, 255);
            bottom: 10%;
            padding-left: 2.4rem;
            font-size: 2.4rem;
            font-weight: 700;
        }
    }

    &__button {
        margin-top: 3.4rem;
        text-align: center;
    }
}

@include media(980px) {
    .portfolio {
        &__ellipses {
            display: none;
        }
        .imageWrapper {
            .imageText {
                font-size: 1.4rem;
            }
        }
    }
}

@include media(720px) {
    .portfolio {
        &__content {
            display: block;
            text-align: center;
        }

        .imageWrapper {
            margin-bottom: 4rem;
            .imageText {
                font-size: 2.4rem;
            }
        }
    }
}
