@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-family: 'Nunito', serif;
    color: rgb(29, 29, 29);
    font-size: 5.5rem; /* 55px */
    font-weight: 700;
    @include media(1100px) {
        font-size: 5rem;
    }
    @include media(600px) {
        font-size: 3.4rem;
    }
}

h3,
h4,
p {
    font-family: 'Quicksand', serif;
}

h3 {
    color: rgb(55, 125, 255);
    font-size: 2.4rem; /* 24px */
    font-weight: 600;
    @include media(600px) {
        font-size: 2rem;
    }
}

h4,
p {
    color: rgb(70, 70, 70);
    font-weight: 400;
}

h4 {
    font-family: 'Quicksand', serif;
    font-size: 2rem; /* 20px */
    @include media(400px) {
        font-size: 1.6rem;
    }
}

p {
    font-size: 1.8rem; /* 18px */
    @include media(400px) {
        font-size: 1.6rem;
    }
}

.container {
    max-width: 1240px; // Берём ширину контейнера из Pixso
    margin: 0 auto; // Центрируем
    padding: 0 20px; // Минимальные отступы
}
